* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;

  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.result-summary {
  border-radius: 0 20px 20px 0;
  box-shadow: 10px 15px 40px -9px hsla(241, 100%, 89%, 0.5);
  display: flex;
  font-size: 1rem;
  width: 700px;
}

/* RESULT SECTION */
.results {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 20px;
  color: hsl(241, 100%, 89%);

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 2.5rem 4rem;
  text-align: center;
  width: 50%;
}

h1 {
  font-size: 1.3rem;
  font-weight: 500;
}

.score-container {
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  box-sizing: unset;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100px;
  margin: 2rem 0;
  padding: 2.5rem;
  width: 100px;
}

.final-score {
  color: hsl(0, 0%, 100%);
  font-size: 4rem;
  font-weight: 800;
}

h2 {
  color: hsl(0, 0%, 100%);
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

/* SUMMARY SECTION */
.summary {
  color: hsl(224, 30%, 27%);

  display: flex;
  flex-direction: column;

  padding: 2.5rem;
  width: 50%;
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
}

.category-container {
  color: hsla(224, 30%, 27%, 0.5);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin: 1.5rem 0;
}

.category {
  border-radius: 10px;

  display: flex;
  justify-content: space-between;

  padding: 1rem;
}

.category:nth-of-type(1) {
  background-color: hsla(0, 100%, 67%, 0.05);
}

.reaction {
  color: hsl(0, 100%, 67%);
  display: flex;
  gap: 0.5rem;
}

.category:nth-of-type(2) {
  background-color: hsla(39, 100%, 56%, 0.05);
}

.memory {
  color: hsl(39, 100%, 56%);
  display: flex;
  gap: 0.5rem;
}

.category:nth-of-type(3) {
  background-color: hsla(166, 100%, 37%, 0.05);
}

.verbal {
  color: hsl(166, 100%, 37%);
  display: flex;
  gap: 0.5rem;
}

.category:nth-of-type(4) {
  background-color: hsla(234, 85%, 45%, 0.05);
}

.visual {
  color: hsl(234, 85%, 45%);
  display: flex;
  gap: 0.5rem;
}

.score {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
}

.btn {
  background-color: hsl(224, 30%, 27%);
  border-radius: 25px;
  border-style: none;
  color: white;
  font-size: inherit;
  padding: 1rem 0;
  position: relative;
  transition: background-color 200ms ease-in-out;
}

.btn:hover {
  background-color: hsl(241, 81%, 54%);
  cursor: pointer;
}

/* ATTRIBUTION */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
